@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400&display=swap');

:root{
    --color-1: #344e41;
    --color-2: #3a5a40;
    --color-3: #588157;
    --color-4: #a3b18a;
    --color-5: #dad7cd;
}

html{
    background-color: var(--color-1);
}

*  {
    font-family: 'Prompt', sans-serif;
    margin: 0 auto;
}

h1 {
    margin: 60px 10px;
    text-align: center;
    color: var(--color-4);
}

button{
    margin: 0px 20px;
    width: auto;
    height: 3em;
    background-color: var(--color-5);
    color: black;
    border: 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 12pt;
    transition: 0.3s;
    padding: 0px 20px;
}

button:hover{
    background-color: var(--color-4);
}

.container{
    width: 100%;
    height: 100vh;
    display: table;
}

.menu-1{
    position: relative;
    height: 50vh;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: var(--color-1);
}

.paragraph{
    text-align: center;
    font-weight: 00;
    color: var(--color-5);
}