{% extends "base.html" %} {% block main %}
<div class="container">
  <h1>First Question</h1>
  <p class="paragraph">
    What is the correct conjugation of the verb "wish" in the "past perfect"?
  </p>
  <br />
  <form action="/level" method="POST">
    <div class="button-container">
      <div>
        <input type="text" name="resposta" placeholder="Answer" required />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
{% endblock main %}
