{% extends "base.html" %} {% block main %}
<div class="container">
  <h1>Second Question</h1>
  <p class="paragraph">
    Complete the sentence: “I _____ that you had told me about the party.”
  </p>
  <br />
  <form action="/level" method="POST">
    <div class="button-container">
      <div>
        <input type="text" name="resposta" placeholder="Answer" required />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </div>
  </form>
</div>
{% endblock main %}