{% extends "base.html" %}
{% block main %}
{% endblock main %}
    {% block forms %}
        <div class="container">
            <h1>Millionaire Show</h1>
            <div class="button-container">
            <form action="/introduction">
                <button name="aboutButton" type="submit">Start</button>
            </form>
            <form action="/about">
                    <button name="aboutButton" type="submit">About</button>
                </form>
            </div>
        </div>
    {% endblock forms %}