{% extends "base.html" %}
{% block main %}
<div class="container">
    <form action="/start/levels/1" class="about-form">
        <div>
            <label for="name">
                <h2>Firstly, what's your name?</h2>
            </label>
        </div>
        <div class="button-container">''
                <input type="text" id="name" name="name" placeholder="Your name here">

                <button name="nameSend" type="submit">Send</button>

        </div>
    </form>
</div>
{% endblock main %}